.cat2post-wrapper .row {
	padding-bottom: 10px;
}
.cat2post-wrapper .row label {
	font-weight: bold;
}
.cat2post-wrapper .fields-match {
	display: none;
}
.cat2post-wrapper .custom-field-value {
	color: #000;
}

@media screen and (max-width: 782px) {

	.cat2post-wrapper .fields-match .box {
		padding-left: 0;
	}

}